//
  // @Project: Garden by Rabbit Development 
  // @Author: Martin Farkas
  // @Email:  info@websites-graphix.com
//

:root {
  --primary:          hsl(168, 31%, 55%);
  --primary-lighter:  hsl(168, 31%, 65%);

  --white:      #fff;

  --c-basic-50:    hsl(40, 10%, 98%);
  --c-basic-100:   hsl(40, 10%, 96%);
  --c-basic-200:   hsl(40, 10%, 90%);
  --c-basic-300:   hsl(40, 10%, 83%);
  --c-basic-400:   hsl(40, 10%, 64%);
  --c-basic-500:   hsl(40, 10%, 46%);
  --c-basic-600:   hsl(40, 10%, 32%);
  --c-basic-700:   hsl(40, 10%, 25%);
  --c-basic-800:   hsl(40, 10%, 15%);
  --c-basic-900:   hsl(40, 10%, 10%);
}

.dark {

  --white:      #000;

  --c-basic-50:    hsl(220, 40%, 10%);
  --c-basic-100:   hsl(220, 40%, 15%);
  --c-basic-200:   hsl(220, 40%, 25%);
  --c-basic-300:   hsl(220, 40%, 32%);
  --c-basic-400:   hsl(220, 40%, 46%);
  --c-basic-500:   hsl(220, 40%, 64%);
  --c-basic-600:   hsl(220, 40%, 83%);
  --c-basic-700:   hsl(220, 40%, 90%);
  --c-basic-800:   hsl(220, 40%, 96%);  
  --c-basic-900:   hsl(220, 40%, 98%);
}


// :root {
//   --primary:          hsl(120, 100%, 40%);
//   --primary-lighter:  hsl(120, 100%, 60%);

//   --white:      #fff;

//   --c-basic-50:    #fafafa;
//   --c-basic-100:   #f5f5f5;
//   --c-basic-200:   #e6e6e6;
//   --c-basic-300:   #d4d4d4;
//   --c-basic-400:   #a3a3a3;
//   --c-basic-500:   #71717a;
//   --c-basic-600:   #525252;
//   --c-basic-700:   #404040;
//   --c-basic-800:   #262626;
//   --c-basic-900:   #171717;
// }

// .dark {

//   --white:      #000;

//   --c-basic-50:    #171717;
//   --c-basic-100:   #262626;
//   --c-basic-200:   #404040;
//   --c-basic-300:   #525252;
//   --c-basic-400:   #71717a;
//   --c-basic-500:   #a3a3a3;
//   --c-basic-600:   #d4d4d4;
//   --c-basic-700:   #e5e5e5;
//   --c-basic-800:   #f5f5f5;  
//   --c-basic-900:   #fafafa;
// }