//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

:root {
  --primary:         hsl(168, 31%, 60%);
  --primary-lighter: hsl(168, 31%, 70%);
  --primary-bg:      hsl(168, 31%, 92%);

  --white:      #fff;

  --c-basic-50:    hsl(40, 10%, 98%);
  --c-basic-100:   hsl(40, 10%, 96%);
  --c-basic-200:   hsl(40, 10%, 90%);
  --c-basic-300:   hsl(40, 10%, 83%);
  --c-basic-400:   hsl(40, 10%, 64%);
  --c-basic-500:   hsl(40, 10%, 46%);
  --c-basic-600:   hsl(40, 10%, 32%);
  --c-basic-700:   hsl(40, 10%, 25%);
  --c-basic-800:   hsl(40, 10%, 15%);
  --c-basic-900:   hsl(40, 10%, 10%);
}

.dark {
  --primary-bg:      hsl(168, 31%, 15%);

  --white:      #000;

  --c-basic-50:    hsl(220, 40%, 10%);
  --c-basic-100:   hsl(220, 40%, 15%);
  --c-basic-200:   hsl(220, 40%, 25%);
  --c-basic-300:   hsl(220, 40%, 32%);
  --c-basic-400:   hsl(220, 40%, 46%);
  --c-basic-500:   hsl(220, 40%, 64%);
  --c-basic-600:   hsl(220, 40%, 83%);
  --c-basic-700:   hsl(220, 40%, 90%);
  --c-basic-800:   hsl(220, 40%, 96%);  
  --c-basic-900:   hsl(220, 40%, 98%);
}