:root {
  --c-primary:             hsl(185, 100%, 40%);
  --c-primary-bg:          hsl(185, 100%, 93%);
  --c-white:               #fff;
  --c-basic-50:            hsl(168, 8%, 98%);
  --c-basic-100:           hsl(168, 8%, 96%);
  --c-basic-150:           hsl(168, 8%, 92%);
  --c-basic-200:           hsl(168, 8%, 88%);
  --c-basic-250:           hsl(168, 8%, 85%);
  --c-basic-300:           hsl(168, 8%, 82%);
  --c-basic-400:           hsl(168, 8%, 64%);
  --c-basic-500:           hsl(168, 8%, 46%);
  --c-basic-600:           hsl(168, 8%, 32%);
  --c-basic-700:           hsl(168, 8%, 25%);
  --c-basic-800:           hsl(168, 8%, 15%);
  --c-basic-900:           hsl(168, 8%, 10%);
}
.dark {
  --c-primary:             hsl(185, 100%, 45%);
  --c-primary-bg:          hsl(195, 100%, 20%);
  --c-white:               #000;
  --c-basic-50:            hsl(216, 41%, 10%);
  --c-basic-100:           hsl(216, 41%, 15%);
  --c-basic-150:           hsl(216, 41%, 22%);
  --c-basic-200:           hsl(216, 41%, 27%);
  --c-basic-250:           hsl(216, 41%, 30%);
  --c-basic-300:           hsl(216, 41%, 33%);
  --c-basic-400:           hsl(216, 41%, 46%);
  --c-basic-500:           hsl(216, 41%, 64%);
  --c-basic-600:           hsl(216, 41%, 83%);
  --c-basic-700:           hsl(216, 41%, 90%);
  --c-basic-800:           hsl(216, 41%, 96%);  
  --c-basic-900:           hsl(216, 41%, 98%);
}