//
  // @Project: Garden by Rabbit Development 
  // @Author: Martin Farkas
  // @Email:  info@websites-graphix.com
//

:root {
  --primary:          rgb(0, 204, 0);
  --primary-bg:       hsl(120, 100%, 97%);
  --secondary:        hsl(17, 83%, 52%);
  --secondary-bg:     hsl(17, 83%, 97%);

  --white:      #fff;

  --gray-50:    #fafafa;
  --gray-100:   #f5f5f5;
  --gray-200:   #e6e6e6;
  --gray-300:   #d4d4d4;
  --gray-400:   #a3a3a3;
  --gray-500:   #71717a;
  --gray-600:   #525252;
  --gray-700:   #404040;
  --gray-800:   #262626;
  --gray-900:   #171717;
}

.dark {
  --primary-bg:       hsl(120, 100%, 12%);
  --secondary-bg:     hsl(17, 83%, 12%);

  --white:      #000;

  --gray-50:    #171717;
  --gray-100:   #262626;
  --gray-200:   #404040;
  --gray-300:   #525252;
  --gray-400:   #71717a;
  --gray-500:   #a3a3a3;
  --gray-600:   #d4d4d4;
  --gray-700:   #e5e5e5;
  --gray-800:   #f5f5f5;  
  --gray-900:   #fafafa;
}