//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

@use "sass:math";

// -----------------------------------------------------------------------------------------------
//  general variables 
// -----------------------------------------------------------------------------------------------

// color variables
// -------------------------------------------------
:root {
  --topbar-bg-color:                        hsl(0, 0%, 95%);
  --topbar-icon-color:                      #000;

  --dropdown-color:                         #000;

  --sidebar-bg-color:                       hsl(0, 0%, 95%);
  --sidebar-nav-color:                      hsl(0, 0%, 13%);
  --sidebar-nav-hover-color:                hsl(0, 0%, 3%);
  --sidebar-nav-hover-bg-color:             hsl(0, 0%, 85%);

  --actionbar-bg-color:                     hsl(0, 0%, 95%);
  --actionbar-svg-color:                    hsl(0, 0%, 33%);
  --actionbar-svg-act-color:                hsl(0, 0%, 3%);
  --actionbar-title-color:                  hsl(0, 0%, 3%);
  --actionbar-tooltip-color:                #fff;
  --actionbar-tooltip-bg-color:             #000;

  --dragbar-border-color:                   hsl(0, 0%, 13%);
  --dragbar-bg-color:                       hsl(0, 0%, 85%);
  --dragbar-bg-hover-color:                 hsl(0, 0%, 75%);
  --dragbar-icon-color:                     #000;

  --stage-bg-color:                         #fff;
  --stage-border-color:                     hsl(0, 0%, 3%);

  --infopanel-bg-color:                     hsl(0, 0%, 92%);
  --infopanel-nav-bg-color:                 hsl(0, 0%, 85%);
  --infopanel-nav-border-color:             hsl(0, 0%, 33%);
  --infopanel-nav-border-hover-color:       hsl(0, 0%, 3%);
  --infopanel-nav-color:                    hsl(0, 0%, 13%);
  --infopanel-nav-hover-color:              hsl(0, 0%, 3%);
  --infopanel-nav-border-act-color:         hsl(120, 100%, 30%);
  --infopanel-nav-border-act-hover-color:   hsl(120, 100%, 40%);
  --infopanel-pane-bg-color:                hsl(0, 0%, 92%);
  --infopanel-pane-text-color:             hsl(0, 0%, 13%);
  --infopanel-pane-links-color:            hsl(0, 0%, 3%);
  --infopanel-pane-comp-hover-bg-color:    hsl(0, 0%, 75%); 
}

.dark {
  --topbar-bg-color:                        hsl(0, 0%, 15%);
  --topbarnav-icon-color:                   #fff;

  --dropdown-color:                         #fff;

  --sidebar-bg-color:                       hsl(0, 0%, 15%);
  --sidebar-nav-color:                      hsl(0, 0%, 87%);
  --sidebar-nav-hover-color:                hsl(0, 0%, 97%);
  --sidebar-nav-hover-bg-color:             hsl(0, 0%, 25%);

  --actionbar-bg-color:                     hsl(0, 0%, 15%);
  --actionbar-svg-color:                    hsl(0, 0%, 67%);
  --actionbar-svg-act-color:                hsl(0, 0%, 97%);
  --actionbar-title-color:                  hsl(0, 0%, 97%);
  --actionbar-tooltip-color:                #000;
  --actionbar-tooltip-bg-color:             #fff;

  --dragbar-border-color:                   hsl(0, 0%, 87%); 
  --dragbar-bg-color:                       hsl(0, 0%, 15%);
  --dragbar-bg-hover-color:                 hsl(0, 0%, 25%);
  --dragbar-icon-color:                     #fff;

  --stage-bg-color:                         hsl(0, 0%, 10%);
  --stage-border-color:                     hsl(0, 0%, 87%);

  --infopanel-bg-color:                     hsl(0, 0%, 8%);
  --infopanel-nav-bg-color:                 hsl(0, 0%, 15%);
  --infopanel-nav-border-color:             hsl(0, 0%, 67%);
  --infopanel-nav-border-hover-color:       hsl(0, 0%, 97%);
  --infopanel-nav-color:                    hsl(0, 0%, 87%);
  --infopanel-nav-hover-color:              hsl(0, 0%, 97%);
  --infopanel-nav-border-act-color:         hsl(120, 100%, 30%);
  --infopanel-nav-border-act-hover-color:   hsl(120, 100%, 40%);
  --infopanel-pane-bg-color:                hsl(0, 0%, 8%);
  --infopanel-pane-text-color:             hsl(0, 0%, 87%);
  --infopanel-pane-links-color:            hsl(0, 0%, 97%);
  --infopanel-pane-comp-hover-bg-color:    hsl(0, 0%, 25%);
  
}



// breakpoints
// -------------------------------------------------
$breakpoint-xs:      640px !default;
$breakpoint-sm:      768px !default;
$breakpoint-md:     1024px !default;
$breakpoint-lg:     1280px !default;
$breakpoint-xl:     1680px !default;
$breakpoints: (
  // screensize:
  'xs':      $breakpoint-xs,
  'sm':      $breakpoint-sm,
  'md':      $breakpoint-md,
  'lg':      $breakpoint-lg,
  'xl':      $breakpoint-xl,
  // typs:
) !default;


// type
// -------------------------------------------------
$font-size-base:    1rem !default;
$font-size-3xs:     0.625rem !default;
$font-size-2xs:     .75rem !default;
$font-size-xs:      .875rem !default;
$font-size-sm:      $font-size-base !default;
$font-size-md:      $font-size-base * 1.125 !default;
$font-size-lg:      $font-size-base * 1.25 !default;
$font-size-xl:      $font-size-base * 1.375 !default;
$font-size-2xl:     $font-size-base * 1.5 !default;
$font-size-3xl:     $font-size-base * 1.7 !default;
$font-size-4xl:     $font-size-base * 2.0 !default;



// -----------------------------------------------------------------------------------------------
// components variables
// -----------------------------------------------------------------------------------------------

// dropdowns
// -------------------------------------------------
// $dropdown-list-border:                    2px solid $primary !default;
$dropdown-list-right:                     0 !default;
$dropdown-li-font-size-min:               $font-size-xs !default;
$dropdown-li-font-size-max:               $font-size-sm !default;
$dropdown-link-font-size-min:             $font-size-xs !default;
$dropdown-link-font-size-max:             $font-size-sm !default;
$dropdown-link-padding:                   0.5rem 0.5rem !default;
// $dropdown-link-color:                     $primary !default;
// $dropdown-link-color-hover:               $primary !default;
$dropdown-link-svg-margin:                0 0.5rem 0 0 !default;
// $dropdown-link-svg-fill:                  $primary !default;
$dropdown-link-background:                #fff !default;
// $dropdown-link-background-hover:          $blue-100 !default;

// sidenav
// -------------------------------------------------
$background-sidebar:           var(--sidebar-bg-color) !default;
$color-sidebarnav:             var(--sidebar-nav-color) !default;
$color-sidebarnav-hover:       var(--sidebar-nav-hover-color) !default;
$bg-color-sidebarnav-hover:    var(--sidebar-nav-hover-bg-color) !default;

// actionbar
// -------------------------------------------------
$bg-color-actionbar:                  var(--actionbar-bg-color) !default;
$color-h1-actionbar:                  var(--actionbar-title-color) !default;
$fill-color-actionbar:                var(--actionbar-svg-color) !default;
$fill-color-hover-actionbar:          var(--actionbar-svg-act-color) !default;
$color-tooltip-actionbar:             var(--actionbar-tooltip-color) !default;
$bg-color-tooltip-actionbar:          var(--actionbar-tooltip-bg-color) !default;

// dragbar
// -------------------------------------------------
$border-dragbar:                  1px solid var(--dragbar-border-color) !default;
$background-color-dragbar:        var(--dragbar-bg-color) !default;
$background-color-dragbar-hover:  var(--dragbar-bg--hovercolor) !default;
$fill-icon-dragbar:               var(--dragbar-icon-color) !default;

// stage
// -------------------------------------------------
$bg-color-iframe:       var(--stage-bg-color) !default;   
$border-color-iframe:   var(--stage-border-color) !default;

// infopanel
// -------------------------------------------------
$bg-color-infopanel:                          var(--infopanel-bg-color) !default;
$bg-color-infopanel-nav:                      var(--infopanel-nav-bg-color) !default;
$border-color-infopanel-nav-default:          var(--infopanel-nav-border-color) !default;
$border-color-infopanel-nav-hover:            var(--infopanel-nav-border-hover-color) !default;
$border-color-infopanel-nav-active:           var(--infopanel-nav-border-act-color) !default;
$border-color-infopanel-nav-active-hover:     var(--infopanel-nav-border-act-hover-color) !default;
$color-infopanel-nav:                         var(--infopanel-nav-color) !default;
$color-infopanel-nav-hover:                   var(--infopanel-nav-hover-color) !default;
$bg-color-infopanel-pane:                     var(--infopanel-pane-bg-color) !default;
$bg-color-infopanel-comp-hover:               var(--infopanel-pane-comp-hover-bg-color) !default;
$color-infopanel:                             var(--infopanel-pane-text-color) !default;
$color-infopanel-links:                       var(--infopanel-pane-links-color) !default;