nav ol,
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  display: block;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
