.unset-area {
  display: flex;
  justify-content: flex-end;
  align-self: start;
  margin: 0.25rem 0 0;
}
.unset-info {
  margin: 0 0 0 0.5rem;
  padding: 0.25rem 0 0;
  width: 4.25rem;
  font-size: 0.75rem;
  color: var(--c-basic-800);
  text-align: right;
}
.btn_unset {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 0 0.5rem;
  padding: 0.25rem 0.5rem;
  width: 4.25rem;
  height: 1.25rem;
  background-color: var(--c-basic-100);
  border-radius: 0.375rem;
  font-size: 0.75rem;
  color: var(--c-basic-800);
}
.btn_unset:hover,
.btn_unset:focus-visible {
  background-color: var(--c-primary-bg);
  color: var(--c-primary);
}
.btn_unset .close {
  margin-right: 0.25rem;
}
