{
  "plugins": ["prettier-plugin-svelte"],
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": "*.svg",
      "options": {
        "parser": "html",
        "printWidth": 999999
      }
    }
  ]
}
