//
// @Project: css framework
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
// @Date:   2020-06-11
//

/* Dependence: fonts */

@import '../abstracts/variables.scss';

/* fonts
--------------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'Roboto Light';
  src: url('../Fonts/Roboto-Light.woff2') format('woff2'),
       url('../Fonts/Roboto-Light.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../Fonts/Roboto-Regular.woff2') format('woff2'),
       url('../Fonts/Roboto-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../Fonts/Roboto-Medium.woff2') format('woff2'),
       url('../Fonts/Roboto-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../Fonts/Roboto-Bold.woff2') format('woff2'),
       url('../Fonts/Roboto-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../Fonts/Roboto-Bold.woff2') format('woff2'),
       url('../Fonts/Roboto-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
  font-display: block;
}

/* fckng MIE <= 8 -> die
   fckng Android < 4.4
------------------------------------------------- */
@font-face {
  font-family: 'Roboto Light';
  src: url('../Fonts/Roboto-Light.ttf') format('ttf'),
       url('../Fonts/Roboto-Light.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Regular';
  src: url('../Fonts/Roboto-Regular.ttf') format('ttf'),
       url('../Fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Medium';
  src: url('../Fonts/Roboto-Medium.ttf') format('ttf'),
       url('../Fonts/Roboto-Medium.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url('../Fonts/Roboto-Bold.ttf') format('ttf'),
       url('../Fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
@font-face {
  font-family: 'Roboto Black';
  src: url('../Fonts/Roboto-Black.ttf') format('ttf'),
       url('../Fonts/Roboto-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
