//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

* {
  box-sizing: border-box;
}
html {
  line-height: 1.3;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
}
// responsive layouts
img, embed, object, video {
	max-width: 100%;
	width: auto;
	height: auto;
}
img {
  display: block;
  border-style: none;
  line-height: 0 !important;
}
figure {
  margin: 0;
}

// ie
main {
  display: block;
}