//
// @Project: css framework
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
// @Date:   2020-06-25
//

@import '../abstracts/variables';

.full {
  height: 100%;
  width: auto;
  overflow-y: scroll;
}
.flexfix {
  flex-grow: 0;
  flex-shrink: 0;
}
.flexgrow {
  flex-grow: 1;
}
.flex-row {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.flex-column {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.bg-primary {
  background-color: $primary-color;
}

.pane__container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  padding: 10px;
  background-color: #ebebeb;
}
