.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  background-color: var(--c-basic-100);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: var(--c-basic-800);
}
.btn:hover,
.btn:focus-visible {
  background-color: var(--c-primary-bg);
  color: var(--c-primary);
}
