.input {
  padding: 0.125rem 0.5rem;
  width: 100%;
  height: 1.5rem;
  border: 1px solid var(--c-primary);
  border-radius: 0.125rem;
  background-color: var(--c-basic-0);
  font-size: 0.938rem;
  color: var(--c-basic-800);
}
.filter_input:focus-visible {
  outline: none;
  background-color: var(--c-primary-bg);
  box-shadow: 0 0 0 1px var(--c-primary);
}
