.input {
  padding: 0.125rem 0.5rem;
  width: 100%;
  border: 1px solid var(--c-primary);
  border-radius: 0.125rem;
  background: var(--c-basic-0);
  font-size: 0.938rem;
  color: var(--c-basic-800);
}
