input {
  padding: 0.125rem 0.5rem;
  width: 100%;
  border: 1px solid var(--c-primary);
  border-radius: 0.125rem;
  background: var(--c-basic-0);
  font-size: 0.938rem;
  color: var(--c-basic-800);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.375rem 0.75rem;
  background-color: var(--c-basic-100);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  color: var(--c-basic-800);
}
.btn:hover,
.btn:focus-visible {
  background-color: var(--c-primary-bg);
  color: var(--c-primary);
}

.unset {
  margin: 0 0 0 0.5rem;
  color: var(--c-basic-800);
  font-size: 0.75rem;
}
.btn_unset {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 0 0.5rem;
  padding: 0.25rem 0.5rem;
  height: 1.25rem;
  background-color: var(--c-basic-100);
  border-radius: 0.375rem;
  font-size: 0.75rem;
  color: var(--c-basic-800);
}
.btn_unset:hover,
.btn_unset:focus-visible {
  background-color: var(--c-primary-bg);
  color: var(--c-primary);
}
.btn_unset .close {
  margin-right: 0.25rem;
}
