//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

.infopanel {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background-color: #1e1e1e;
}
.dragbar-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  border-top: $border-dragbar;
  border-bottom: $border-dragbar;
  // background-color: $background-color-dragbar;
  // background-image: url('../icons/iconset/drag_handle-horizontal.svg');
  // background-position: center center;
  // background-repeat: no-repeat;
  cursor: row-resize;
  &:hover {
    background-color: $background-color-dragbar-hover;
  }
  svg {
    width: 16px;
    fill: #fff;
  }
  z-index: 10;
}
