//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

// specific layouts: (collapsed) toggle-sidebar & content
.sidenav {
  width: 0;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 0 50px;
  background: $background-sidenav;
  transition: .1s;
  color: $color-sidenav-nav;
  margin: 0;
  ul {
    margin: 0;
    color: $color-sidenav-nav;
    list-style: none;
    li {
      padding: 10px 0;
      list-style: none;
      color: $color-sidenav-nav;
      text-transform: uppercase;
      a {
        display: block;
        text-transform: initial;
        text-decoration: none;
        font-family: $font-family-regular;
        color: $color-sidenav-nav;
      }
    }
  }
  @include max(bp-l) {
    width: 0px;
  }
  // logo
  .logo {
    margin: 0 0 30px;
    a {
      text-decoration: none;
      font-family: $font-family-bold;
      svg {
        display: block;
        margin: auto;
      }
      .logo__title {
        display: block;
        color: #fff;
        text-align: center;
        margin: 0;
      }
    }
  }
}
.show-sidenav {
  width: $width-sidenav;
}
