//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

// .dragbar-vertical {
//   width: 15px;
//   border-left: $border-dragbar;
//   border-right: $border-dragbar;
//   background-color: $background-color-dragbar;
//   background-image: url('../icons/iconset/drag_handle-vertical.svg');
//   background-position: center center;
//   background-repeat: no-repeat;
//   cursor: col-resize;
//   &:hover {
//     background-color: $background-color-dragbar-hover;
//   }
//   z-index: 10;
// }
.dragbar-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  border-top: $border-dragbar;
  border-bottom: $border-dragbar;
  // background-color: $background-color-dragbar;
  // background-image: url('../icons/iconset/drag_handle-horizontal.svg');
  // background-position: center center;
  // background-repeat: no-repeat;
  cursor: row-resize;
  &:hover {
    background-color: $background-color-dragbar-hover;
  }
  svg {
    width: 16px;
    fill: #fff;
  }
  z-index: 10;
}

