//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

// panel nav
.tabs__nav {
  nav {
    background-color: hsl(0, 0%, 16%);
    ul {
      display: flex;
      flex: 1 1 auto;
      flex-direction: row;
      overflow-x: auto;
      height: 2rem;
      margin: 0;
      padding: 0;
      li {
        display: flex;
        flex: auto;
        height: 100%;
        button {
          width: 100%;
          min-width: 150px;
          height: 100%;
          font-size: 0.9rem;
          text-align: center;
          cursor: pointer;
          border: none;
          background: none;
          border-bottom: 3px solid $border-color-infopanel-nav-inactive;
          &:hover {
            border-bottom: 3px solid $border-color-infopanel-nav-hover;
          }
          &.active {
            border-bottom: 3px solid $border-color-infopanel-nav-active;
          }
          // fonts
          color: hsl(0, 0%, 87%);
          &:hover,
          &.active {
            color: hsl(0, 0%, 97%);
          }
        }
      }
    }
  }
}
// content area
.tabs__content-area {
  padding: 20px;
  // height: 100%; // if not activated is does not solve the problem if rescaled, maybe dynamic solution neccesary?
  background-color: #1e1e1e;
  color: hsl(0, 0%, 87%);
  h2,h3,h4,h5,h6,li {
    color: hsl(0, 0%, 87%);
  }
  a {
    color: #fff;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  li {
    margin: 0.25rem 0;
    padding: 0.25rem 0.75rem;
    border-radius: 0.125rem;
    cursor: pointer;
    &:hover,
    &:focus,
    &.active {
      color: hsl(0, 0%, 97%);
      background-color: hsl(0, 7%, 25%);
    }
  }
}