//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

.topbar {
  width: 100%;
  height: $height-topbar;
  background-color: $background-topbar;
  background-color: #080;
}
.topbar__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: $height-topbar;
  padding: 0 2rem;
  .topbar__nav-btn {
    display: block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
  }
  .topbar__nav {
    .switch-mode {
      display: block;
      padding: 0;
      width: 24px;
      height: 24px;
      border: none;
      background: none;
      cursor: pointer;
      svg {
        fill: #fff;
      }
    }
  }
}