//
// @Project: Garden by Rabbit Development 
// @Author: Martin Farkas
// @Email:  info@websites-graphix.com
//

.topbar {
  width: 100%;
  height: $height-topbar;
  background-color: $background-topbar;
}
// .topbar--fixed {
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   z-index: 99999;
// }
.topbar__nav-icon {
  border: none;
  background: none;
  display: inline-block;
  cursor: pointer;
}