/* 1. level */
.level-1 a {
  background-color: var(--c-basic-100);
}
.level-1 a:hover {
  background-color: var(--c-basic-150);
}

/* 2. level */
.unfolded ul ul li a {
  padding-left: 2.75rem ;
  background-color: var(--c-basic-150);
}
.unfolded ul ul li a:hover {
  background-color: var(--c-basic-200);
}

/* 3. level */
.unfolded ul ul ul li a {
  padding-left: 3.5rem ;
  background-color: var(--c-basic-200);
}
.unfolded ul ul ul li a:hover {
  background-color: var(--c-basic-250);
}