:root {
  --c-primary: hsl(185, 100%, 40%);
  --c-primary-bg: hsl(185, 100%, 93%);
  --c-basic-0: hsl(210, 15%, 100%);
  --c-basic-50: hsl(210, 15%, 98%);
  --c-basic-75: hsl(210, 15%, 96%);
  --c-basic-100: hsl(210, 15%, 94%);
  --c-basic-150: hsl(210, 15%, 90%);
  --c-basic-200: hsl(210, 15%, 87%);
  --c-basic-250: hsl(210, 15%, 84%);
  --c-basic-300: hsl(210, 15%, 81%);
  --c-basic-400: hsl(210, 15%, 64%);
  --c-basic-500: hsl(210, 15%, 46%);
  --c-basic-600: hsl(210, 15%, 32%);
  --c-basic-700: hsl(210, 15%, 25%);
  --c-basic-800: hsl(210, 15%, 15%);
  --c-basic-900: hsl(210, 15%, 10%);

  --c-bg-body: var(--c-basic-150);
  --c-bg-panels: var(--c-basic-0);
}
.dark {
  --c-primary: hsl(185, 100%, 45%);
  --c-primary-bg: hsl(195, 100%, 20%);
  --c-basic-0: hsl(216, 30%, 5%);
  --c-basic-50: hsl(216, 30%, 10%);
  --c-basic-75: hsl(216, 30%, 14%);
  --c-basic-100: hsl(216, 30%, 18%);
  --c-basic-150: hsl(216, 30%, 22%);
  --c-basic-200: hsl(216, 30%, 10%);
  --c-basic-250: hsl(216, 30%, 30%);
  --c-basic-300: hsl(216, 30%, 33%);
  --c-basic-400: hsl(216, 30%, 46%);
  --c-basic-500: hsl(216, 30%, 64%);
  --c-basic-600: hsl(216, 30%, 83%);
  --c-basic-700: hsl(216, 30%, 90%);
  --c-basic-800: hsl(216, 30%, 96%);
  --c-basic-900: hsl(216, 30%, 98%);

  --c-bg-body: var(--c-basic-150);
  --c-bg-panels: var(--c-basic-0);
}
